*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.08em;
}

.color-white {
  color: #fefbff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 18px;
  }
}

.box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 24px;
}

.flex-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-spacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 360px;
          flex: 1 1 360px;
}

.flex-item-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 360px;
          flex: 2 1 360px;
}

.flex-item-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 360px;
          flex: 3 1 360px;
}

.flex-item-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 360px;
          flex: 4 1 360px;
}

.flex-item-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 360px;
          flex: 5 1 360px;
}

.flex-item-auto {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.list-item {
  list-style: none;
  position: relative;
  margin-bottom: 24px;
}

.list-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -8px;
  display: block;
  width: 64px;
  height: 64px;
}

.list {
  list-style: none;
}

.list li {
  margin-bottom: 12px;
}

.list a {
  color: #bb71d2;
}

.logo {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 800;
}

@media screen and (max-width: 960px) {
  .logo {
    width: 270px;
    height: 270px;
  }
}

.mentor {
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  margin-right: 216px;
}

@media screen and (max-width: 960px) {
  .mentor {
    margin-right: 8px;
    width: 350px;
    height: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .divider {
    border-left: 2px solid #00e1be;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .divider {
    border-left: 2px solid #00e1be;
    padding: 12px 16px;
  }
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .divider {
    border-left: 2px solid #00e1be;
    padding: 8px 12px;
  }
}

@media screen and (max-width: 960px) {
  .divider {
    border-top: 2px solid #00e1be;
  }
}

@font-face {
  font-family: "Din Condensed ";
  src: url("../fonts/DIN-Condensed - Regular.otf");
}

h1 {
  color: #f7f2fa;
  font-family: "Din Condensed ", sans-serif;
  font-size: 64px;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h1 {
    font-family: "Din Condensed ", sans-serif;
    font-size: 48px;
    line-height: 120%;
  }
}

h2 {
  color: #f7f2fa;
  font-family: "Din Condensed ", sans-serif;
  font-size: 50px;
  line-height: 110%;
}

@media screen and (max-width: 960px) {
  h2 {
    font-family: "Din Condensed ", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h3 {
  color: #f7f2fa;
  font-family: "Din Condensed ", sans-serif;
  font-size: 36px;
  line-height: 120%;
}

@media screen and (max-width: 960px) {
  h3 {
    font-family: "Din Condensed ", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #f7f2fa;
  font-family: "Din Condensed ", sans-serif;
  font-size: 24px;
  line-height: 130%;
}

@media screen and (max-width: 960px) {
  h4 {
    font-family: "Din Condensed ", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, #a950c4 14.43%, #001e1f 85.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Din Condensed ", sans-serif;
  font-size: 18px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  h5 {
    font-family: "Din Condensed ", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

p {
  color: #f7f2fa;
  font-family: "Din Condensed ", sans-serif;
  font-size: 24px;
  line-height: 130%;
}

@media screen and (max-width: 960px) {
  p {
    font-family: "Din Condensed ", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

.bold {
  font-weight: bold;
  color: #353436;
}

strong {
  color: #161617;
  font-family: "Din Condensed ", sans-serif;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  strong {
    font-family: "Din Condensed ", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

.weight-light {
  font-weight: 500;
}

a {
  font-family: "Din Condensed ", sans-serif;
  font-size: 24px;
  line-height: 130%;
  text-decoration: none;
  color: #161617;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

a:hover {
  opacity: 0.9;
}

.btn {
  font-weight: bold;
  background-color: #00e1be;
  border-radius: 20px;
  padding: 12px 48px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #232224;
  font-family: "Din Condensed ", sans-serif;
  font-size: 24px;
  line-height: 130%;
}

.btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 17px 31px rgba(0, 225, 190, 0.27), 0px 5.125px 9.34559px rgba(0, 225, 191, 0.158), 0px 2.12866px 3.88168px rgba(0, 225, 191, 0.096), 0px 0.7699px 1.40393px rgba(10, 225, 189, 0.11);
          box-shadow: 0px 17px 31px rgba(0, 225, 190, 0.27), 0px 5.125px 9.34559px rgba(0, 225, 191, 0.158), 0px 2.12866px 3.88168px rgba(0, 225, 191, 0.096), 0px 0.7699px 1.40393px rgba(10, 225, 189, 0.11);
}

.btn-a {
  font-weight: bold;
  background-color: #00e1be;
  padding: 8px 32px;
  color: #232224;
  font-family: "Din Condensed ", sans-serif;
  font-size: 36px;
  line-height: 120%;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #001e1f;
}

svg,
img {
  display: block;
  width: 100%;
}

.grid {
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
      grid-template-areas: "a b c d e";
  margin-left: 48px;
}

@media screen and (max-width: 960px) {
  .grid {
        grid-template-areas: "a" "b" "c" "d" "e";
    grid-gap: 8px;
    margin-left: 24px;
  }
}

.grid-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.grid-b {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.grid-c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.grid-d {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: d;
}

.grid-e {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: e;
}

.grid-mentor {
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
  grid-gap: 8px;
      grid-template-areas: "a b c d e f g";
  margin-left: 150px;
  margin-right: 150px;
}

@media screen and (max-width: 960px) {
  .grid-mentor {
        grid-template-areas: "a b c" "d e f" "g g g";
    grid-gap: 8px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

.grid-mentor-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.grid-mentor-b {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.grid-mentor-c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.grid-mentor-d {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: d;
}

.grid-mentor-e {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: e;
}

.grid-mentor-f {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: f;
}

.grid-mentor-g {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: g;
}

.photo-profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #00e1be;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-1 {
  background-image: url("../img/thiago-nigro.jpg");
}

.photo-2 {
  background-image: url("../img/joel-jota.png");
}

.photo-3 {
  background-image: url("../img/caito-maia.jpg");
}

.photo-4 {
  background-image: url("../img/camila-farani.jpg");
}

.photo-5 {
  background-image: url("../img/pablo-marcal.jpg");
}

.photo-6 {
  background-image: url("../img/paulo-vieira.jpg");
}

.photo-7 {
  background-image: url("../img/andre-diamand.jpg");
}

footer {
  background-color: #e0e0e0;
}

.bt-purple {
  border-top: 1px solid #bb71d2;
}
/*# sourceMappingURL=style.css.map */