*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.08em;
}

.color-white {
  color: #fefbff;
}

.color-normal {
  color: #001e1f;
}

.color-cyan-dark {
  color: #011913;
}

.color-cyan-light {
  color: #00e1be;
}

.color-gray {
  color: #e0e0e0;
}

.bg-primary-light {
  background-color: #00e1be;
}

.bg-color-gray {
  background-color: #e0e0e0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 18px;
  }
}

.box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 24px;
}

.flex-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-spacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 360px;
          flex: 1 1 360px;
}

.flex-item-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 360px;
          flex: 2 1 360px;
}

.flex-item-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 360px;
          flex: 3 1 360px;
}

.flex-item-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 360px;
          flex: 4 1 360px;
}

.flex-item-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 360px;
          flex: 5 1 360px;
}

.flex-item-auto {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.list-item {
  list-style: none;
  position: relative;
  margin-bottom: 24px;
}

.list-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -8px;
  display: block;
  width: 64px;
  height: 64px;
}

.list {
  list-style: none;
}

.list li {
  margin-bottom: 12px;
}

.list a {
  color: #00e1be;
}

.logo {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 800;
}

@media screen and (max-width: 960px) {
  .logo {
    width: 270px;
    height: 270px;
  }
}

.mentor {
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 216px;
}

@media screen and (max-width: 960px) {
  .mentor {
    margin-right: 8px;
    width: 350px;
    height: 350px;
  }
}

.cinquenta-anos {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

@media screen and (max-width: 960px) {
  .cinquenta-anos {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

@font-face {
  font-family: "Din Condensed";
  src: url("../fonts/DIN-Condensed - Regular.otf");
}

h1 {
  color: #161617;
  font-family: "Din Condensed", sans-serif;
  font-size: 64px;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h1 {
    font-family: "Din Condensed", sans-serif;
    font-size: 56px;
    line-height: 120%;
  }
}

h2 {
  color: #161617;
  font-family: "Din Condensed", sans-serif;
  font-size: 56px;
  line-height: 110%;
}

@media screen and (max-width: 960px) {
  h2 {
    font-family: "Din Condensed", sans-serif;
    font-size: 48px;
    line-height: 120%;
  }
}

h3 {
  color: #f7f2fa;
  font-family: "Din Condensed", sans-serif;
  font-size: 48px;
  line-height: 120%;
}

@media screen and (max-width: 960px) {
  h3 {
    font-family: "Din Condensed", sans-serif;
    font-size: 40px;
    line-height: 120%;
  }
}

h4 {
  color: #f7f2fa;
  font-family: "Din Condensed", sans-serif;
  font-size: 40px;
  line-height: 130%;
}

@media screen and (max-width: 960px) {
  h4 {
    font-family: "Din Condensed", sans-serif;
    font-size: 32px;
    line-height: 130%;
  }
}

h5 {
  color: #f7f2fa;
  font-family: "Din Condensed", sans-serif;
  font-size: 32px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  h5 {
    font-family: "Din Condensed", sans-serif;
    font-size: 24px;
    line-height: 150%;
  }
}

p {
  color: #f7f2fa;
  font-family: "Din Condensed", sans-serif;
  font-size: 24px;
  line-height: 130%;
}

@media screen and (max-width: 960px) {
  p {
    font-family: "Din Condensed", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

.p1 {
  color: #f7f2fa;
  font-family: "Din Condensed", sans-serif;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  .p1 {
    font-family: "Din Condensed", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.weight-light {
  font-weight: 300;
}

span {
  position: relative;
  display: inline-block;
}

.h7 {
  font-family: "Din Condensed", sans-serif;
  font-size: 48px;
  line-height: 120%;
}

@media screen and (max-width: 960px) {
  .h7 {
    font-family: "Din Condensed", sans-serif;
    font-size: 40px;
    line-height: 120%;
  }
}

a {
  font-family: "Din Condensed", sans-serif;
  font-size: 24px;
  line-height: 130%;
  text-decoration: none;
  color: #161617;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

a:hover {
  opacity: 0.9;
}

.btn {
  background-color: #00e1be;
  border-radius: 20px;
  padding: 12px 48px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #232224;
  font-family: "Din Condensed", sans-serif;
}

.btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 17px 31px rgba(0, 225, 190, 0.27), 0px 5.125px 9.34559px rgba(0, 225, 191, 0.158), 0px 2.12866px 3.88168px rgba(0, 225, 191, 0.096), 0px 0.7699px 1.40393px rgba(10, 225, 189, 0.11);
          box-shadow: 0px 17px 31px rgba(0, 225, 190, 0.27), 0px 5.125px 9.34559px rgba(0, 225, 191, 0.158), 0px 2.12866px 3.88168px rgba(0, 225, 191, 0.096), 0px 0.7699px 1.40393px rgba(10, 225, 189, 0.11);
}

.btn-a {
  font-weight: bold;
  background-color: #00e1be;
  padding: 8px 32px;
  color: #232224;
  font-family: "Din Condensed", sans-serif;
  font-size: 48px;
  line-height: 120%;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.mt-110 {
  margin-top: 110px;
}

@media screen and (max-width: 960px) {
  .mt-110 {
    margin-top: 0px;
  }
}

.mt-80 {
  margin-top: 88px;
}

@media screen and (max-width: 960px) {
  .mt-80 {
    margin-top: 64px;
  }
}

.ml-40 {
  margin-left: 40px;
}

@media screen and (max-width: 960px) {
  .ml-40 {
    margin-left: 4px;
  }
}

.space-220 {
  padding: 220px 24px;
}

@media screen and (max-width: 960px) {
  .space-220 {
    padding: 96px 16px;
  }
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 8px !important;
}

.m-2 {
  margin: 16px !important;
}

.m-3 {
  margin: 24px !important;
}

.m-4 {
  margin: 32px !important;
}

.m-5 {
  margin: 48px !important;
}

.m-6 {
  margin: 64px !important;
}

.m-7 {
  margin: 72px !important;
}

.m-8 {
  margin: 96px !important;
}

.m-9 {
  margin: 128px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-3 {
  margin-top: 24px !important;
}

.mt-4 {
  margin-top: 32px !important;
}

.mt-5 {
  margin-top: 48px !important;
}

.mt-6 {
  margin-top: 64px !important;
}

.mt-7 {
  margin-top: 72px !important;
}

.mt-8 {
  margin-top: 96px !important;
}

.mt-9 {
  margin-top: 128px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 8px !important;
}

.ml-2 {
  margin-left: 16px !important;
}

.ml-3 {
  margin-left: 24px !important;
}

.ml-4 {
  margin-left: 32px !important;
}

.ml-5 {
  margin-left: 48px !important;
}

.ml-6 {
  margin-left: 64px !important;
}

.ml-7 {
  margin-left: 72px !important;
}

.ml-8 {
  margin-left: 96px !important;
}

.ml-9 {
  margin-left: 128px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mr-3 {
  margin-right: 24px !important;
}

.mr-4 {
  margin-right: 32px !important;
}

.mr-5 {
  margin-right: 48px !important;
}

.mr-6 {
  margin-right: 64px !important;
}

.mr-7 {
  margin-right: 72px !important;
}

.mr-8 {
  margin-right: 96px !important;
}

.mr-9 {
  margin-right: 128px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.mb-4 {
  margin-bottom: 32px !important;
}

.mb-5 {
  margin-bottom: 48px !important;
}

.mb-6 {
  margin-bottom: 64px !important;
}

.mb-7 {
  margin-bottom: 72px !important;
}

.mb-8 {
  margin-bottom: 96px !important;
}

.mb-9 {
  margin-bottom: 128px !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mx-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mx-3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mx-4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mx-5 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.mx-6 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.mx-7 {
  margin-left: 72px !important;
  margin-right: 72px !important;
}

.mx-8 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}

.mx-9 {
  margin-left: 128px !important;
  margin-right: 128px !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my-4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.my-5 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.my-6 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

.my-7 {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}

.my-8 {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}

.my-9 {
  margin-top: 128px !important;
  margin-bottom: 128px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 8px !important;
}

.p-2 {
  padding: 16px !important;
}

.p-3 {
  padding: 24px !important;
}

.p-4 {
  padding: 32px !important;
}

.p-5 {
  padding: 48px !important;
}

.p-6 {
  padding: 64px !important;
}

.p-7 {
  padding: 72px !important;
}

.p-8 {
  padding: 96px !important;
}

.p-9 {
  padding: 128px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 8px !important;
}

.pt-2 {
  padding-top: 16px !important;
}

.pt-3 {
  padding-top: 24px !important;
}

.pt-4 {
  padding-top: 32px !important;
}

.pt-5 {
  padding-top: 48px !important;
}

.pt-6 {
  padding-top: 64px !important;
}

.pt-7 {
  padding-top: 72px !important;
}

.pt-8 {
  padding-top: 96px !important;
}

.pt-9 {
  padding-top: 128px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 8px !important;
}

.pl-2 {
  padding-left: 16px !important;
}

.pl-3 {
  padding-left: 24px !important;
}

.pl-4 {
  padding-left: 32px !important;
}

.pl-5 {
  padding-left: 48px !important;
}

.pl-6 {
  padding-left: 64px !important;
}

.pl-7 {
  padding-left: 72px !important;
}

.pl-8 {
  padding-left: 96px !important;
}

.pl-9 {
  padding-left: 128px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 8px !important;
}

.pr-2 {
  padding-right: 16px !important;
}

.pr-3 {
  padding-right: 24px !important;
}

.pr-4 {
  padding-right: 32px !important;
}

.pr-5 {
  padding-right: 48px !important;
}

.pr-6 {
  padding-right: 64px !important;
}

.pr-7 {
  padding-right: 72px !important;
}

.pr-8 {
  padding-right: 96px !important;
}

.pr-9 {
  padding-right: 128px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 8px !important;
}

.pb-2 {
  padding-bottom: 16px !important;
}

.pb-3 {
  padding-bottom: 24px !important;
}

.pb-4 {
  padding-bottom: 32px !important;
}

.pb-5 {
  padding-bottom: 48px !important;
}

.pb-6 {
  padding-bottom: 64px !important;
}

.pb-7 {
  padding-bottom: 72px !important;
}

.pb-8 {
  padding-bottom: 96px !important;
}

.pb-9 {
  padding-bottom: 128px !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px-5 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.px-6 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.px-7 {
  padding-left: 72px !important;
  padding-right: 72px !important;
}

.px-8 {
  padding-left: 96px !important;
  padding-right: 96px !important;
}

.px-9 {
  padding-left: 128px !important;
  padding-right: 128px !important;
}

.py-00 {
  padding-top: -4px !important;
  padding-bottom: -4px !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.py-5 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.py-6 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.py-7 {
  padding-top: 72px !important;
  padding-bottom: 72px !important;
}

.py-8 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}

.py-9 {
  padding-top: 128px !important;
  padding-bottom: 128px !important;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #001e1f;
}

svg,
img {
  display: block;
  width: 100%;
}

.grid {
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
      grid-template-areas: "a b c d e";
  margin-left: 48px;
}

@media screen and (max-width: 960px) {
  .grid {
        grid-template-areas: "a" "b" "c" "d" "e";
    grid-gap: 8px;
    margin-left: 24px;
  }
}

.grid-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.grid-b {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.grid-c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.grid-d {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: d;
}

.grid-e {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: e;
}

.grid-mentor {
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
  grid-gap: 8px;
      grid-template-areas: "a b c d e f g";
  margin-left: 150px;
  margin-right: 150px;
  justify-items: center;
}

@media screen and (max-width: 960px) {
  .grid-mentor {
        grid-template-areas: "a b" "c d" "e f" "g g";
    grid-gap: 8px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

.grid-mentor-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.grid-mentor-b {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.grid-mentor-c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.grid-mentor-d {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: d;
}

.grid-mentor-e {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: e;
}

.grid-mentor-f {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: f;
}

.grid-mentor-g {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: g;
}

.grid-bonus {
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
      grid-template-areas: "a b c" "d e f";
  margin-left: 48px;
}

@media screen and (max-width: 960px) {
  .grid-bonus {
        grid-template-areas: "a" "b" "c" "d" "e" "f";
    grid-gap: 8px;
    margin-left: 24px;
  }
}

.grid-bonus-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.grid-bonus-b {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.grid-bonus-c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.grid-bonus-d {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: d;
}

.grid-bonus-e {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: e;
}

.grid-bonus-f {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: f;
}

.photo-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #00e1be;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-1 {
  background-image: url("../img/thiago-nigro.jpg");
}

.photo-2 {
  background-image: url("../img/joel-jota.png");
}

.photo-3 {
  background-image: url("../img/caito-maia.jpg");
}

.photo-4 {
  background-image: url("../img/camila-farani.jpg");
}

.photo-5 {
  background-image: url("../img/pablo-marcal.jpg");
}

.photo-6 {
  background-image: url("../img/paulo-vieira.jpg");
}

.photo-7 {
  background-image: url("../img/andre-diamand.jpg");
}

.photo-8 {
  background-image: url("../img/joao-kepler.jpg");
}

@media screen and (min-width: 1440px) {
  .divider {
    border-left: 2px solid #00e1be;
    padding: 16px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .divider {
    border-left: 2px solid #00e1be;
    padding: 16px;
  }
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .divider {
    border-left: 2px solid #00e1be;
    padding: 16px;
  }
}

@media screen and (max-width: 960px) {
  .divider {
    border-top: 2px solid #00e1be;
  }
}

@media screen and (min-width: 1440px) {
  .divider-h {
    padding: 16px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .divider-h {
    padding: 16px;
  }
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .divider-h {
    padding: 12px;
  }
}

@media screen and (max-width: 960px) {
  .divider-h {
    border-top: 2px solid #00e1be;
  }
}

.card-price h1 sup {
  font-size: 16px;
  display: inline-block;
  margin-left: -20px;
  width: 10px;
}

.card-price h1 small {
  color: rgba(0, 0, 0, 0.418);
  display: block;
  font-size: 16px;
  text-transform: uppercase;
}

.small {
  text-transform: uppercase;
  color: #767576;
  font-weight: bold;
  font-family: "Din Condensed", sans-serif;
  font-size: 32px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  .small {
    font-family: "Din Condensed", sans-serif;
    font-size: 24px;
    line-height: 150%;
  }
}

footer {
  background-color: #e0e0e0;
  padding: 24px;
}
/*# sourceMappingURL=style.css.map */