*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.08em;
}

@import "sass/colors";
@import "sass/layout";
@import "sass/typography";
@import "sass/buttons";
@import "sass/spacing";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;

  scroll-behavior: smooth;

  background-color: $primary-normal;
}

svg,
img {
  display: block;
  width: 100%;
}

@import "sass/grid";
@import "sass/footer";
