a {
  @include typeface-2(p1, desktop);
  text-decoration: none;
  color: $black-dark;
  transition: 0.5s ease;

  &:hover {
    opacity: 0.9;
  }
}

.btn {
  background-color: $primary-light;
  border-radius: 20px;
  padding: 12px 48px;
  transition: 0.3s ease;
  color: $black-normal;
  @include typeface-2(h1, desktop);

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 17px 31px rgba(0, 225, 190, 0.27), 0px 5.125px 9.34559px rgba(0, 225, 191, 0.158),
      0px 2.12866px 3.88168px rgba(0, 225, 191, 0.096), 0px 0.769896px 1.40393px rgba(10, 225, 189, 0.11);
  }
}

.btn-a {
  font-weight: bold;
  background-color: $primary-light;
  padding: 8px 32px;
  color: $black-normal;
  @include typeface-1(h3, desktop);
}
