// Colors of project

// Brand-colors
$primary-normal: #001e1f;
$primary-dark: #011913;
$primary-light: #00e1be;

// Neutral-colors
$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #f7f2fa;
$white-dark: #edeaef;
$white-light: #fefbff;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #e0e0e0;

// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;

.color-white {
  color: $white-light;
}

.color-normal {
  color: $primary-normal;
}
.color-cyan-dark {
  color: $primary-dark;
}
.color-cyan-light {
  color: $primary-light;
}
.color-gray {
  color: $gray-7;
}
.color-gray-6 {
  color: $gray-6;
}

.bg-color-cyan-light {
  background-color: #00e1be;
}
.bg-color-gray {
  background-color: $gray-7;
}
.bg-color-cyan-dark {
  color: $primary-dark;
}
.bg-color-green {
  background-color: #036060;
}
.bg-color-gray {
  color: $gray-7;
}
