// Typography of project

@font-face {
  font-family: "Din Condensed";
  src: url("../fonts/DIN-Condensed\ -\ Regular.otf");
}

@mixin typeface-1($size, $device: desktop) {
  font-family: "Din Condensed", sans-serif;

  @if $size == h0 and $device == desktop {
    font-size: 72px;
    line-height: 100%;
  } @else if $size == h0 and $device == mobile {
    font-size: 40px;
    line-height: 100%;
  } @else if $size == h0 and $device == smallmobile {
    font-size: 32px;
    line-height: 100%;
  }

  // h1
  @if $size == h1 and $device == desktop {
    font-size: 64px;
    line-height: 100%;
  } @else if $size == h1 and $device == mobile {
    font-size: 56px;
    line-height: 100%;
  } @else if $size == h1 and $device == smallmobile {
    font-size: 48px;
    line-height: 100%;
    // h2
  } @else if $size == h2 and $device == desktop {
    font-size: 56px;
    line-height: 100%;
  } @else if $size == h2 and $device == mobile {
    font-size: 48px;
    line-height: 100%;
  } @else if $size == h2 and $device == smallmobile {
    font-size: 40px;
    line-height: 100%;
    // h3
  } @else if $size == h3 and $device == desktop {
    font-size: 48px;
    line-height: 100%;
  } @else if $size == h3 and $device == mobile {
    font-size: 40px;
    line-height: 100%;
  } @else if $size == h3 and $device == smallmobile {
    font-size: 32px;
    line-height: 100%;
    // h4
  } @else if $size == h4 and $device == desktop {
    font-size: 40px;
    line-height: 100%;
  } @else if $size == h4 and $device == mobile {
    font-size: 32px;
    line-height: 100%;
  } @else if $size == h4 and $device == smallmobile {
    font-size: 24px;
    line-height: 100%;

    // h5
  } @else if $size == h5 and $device == desktop {
    font-size: 32px;
    line-height: 100%;
  } @else if $size == h5 and $device == mobile {
    font-size: 24px;
    line-height: 100%;
    // h6
  } @else if $size == h6 and $device == desktop {
    font-size: 24px;
    line-height: 100%;
  } @else if $size == h6 and $device == mobile {
    font-size: 18px;
    line-height: 100%;
    // h7
  } @else if $size == h7 and $device == desktop {
    font-size: 32px;
    line-height: 100%;
  } @else if $size == h7 and $device == mobile {
    font-size: 24px;
    line-height: 100%;
  }
}

@mixin typeface-2($size: p2, $device: desktop) {
  font-family: "Din Condensed", sans-serif;

  @if $size == p1 and $device == desktop {
    font-size: 24px;
    line-height: 100%;
  } @else if $size == p1 and $device == mobile {
    font-size: 18px;
    line-height: 100%;
  } @else if $size == p1 and $device == smallmobile {
    font-size: 16px;
    line-height: 100%;
  } @else if $size == p2 and $device == desktop {
    font-size: 18px;
    line-height: 100%;
  } @else if $size == p2 and $device == mobile {
    font-size: 16px;
    line-height: 100%;
  } @else if $size == p3 and $device == desktop {
    font-size: 16px;
    line-height: 100%;
  } @else if $size == p3 and $device == mobile {
    font-size: 16px;
    line-height: 100%;
  } @else if $size == p3 and $device == smallmobile {
    font-size: 14px;
    line-height: 100%;
  } @else if $size == p4 and $device == desktop {
    font-size: 16px;
    line-height: 100%;
  } @else if $size == p4 and $device == mobile {
    font-size: 14px;
    line-height: 100%;
  } @else if $size == p5 and $device == desktop {
    font-size: 13px;
    line-height: 100%;
  } @else if $size == p5 and $device == mobile {
    font-size: 13px;
    line-height: 100%;
  }
}

.h0 {
  @include typeface-1(h0, desktop);
  @include responsive(s) {
    @include typeface-1(h0, mobile);
  }
  @include responsive(xs) {
    @include typeface-1(h0, smallmobile);
  }
}

.h7 {
  @include typeface-1(h7, desktop);
  @include responsive(s) {
    @include typeface-1(h7, mobile);
  }
  @include responsive(xs) {
    @include typeface-1(h7, smallmobile);
  }
}

h1 {
  color: $white-normal;
  z-index: 5;
  @include typeface-1(h1, desktop);
  @include responsive(s) {
    @include typeface-1(h1, mobile);
  }
  @include responsive(xs) {
    @include typeface-1(h1, smallmobile);
  }
}

h2 {
  color: $white-normal;
  @include typeface-1(h2, desktop);
  @include responsive(s) {
    @include typeface-1(h2, mobile);
  }
  @include responsive(xs) {
    @include typeface-1(h2, smallmobile);
  }
}

h3 {
  color: $white-normal;
  @include typeface-1(h3, desktop);
  @include responsive(s) {
    @include typeface-1(h3, mobile);
  }
  @include responsive(xs) {
    @include typeface-1(h3, smallmobile);
  }
}

h4 {
  color: $white-normal;
  @include typeface-1(h4, desktop);
  @include responsive(s) {
    @include typeface-1(h4, mobile);
  }
  @include responsive(xs) {
    @include typeface-1(h4, smallmobile);
  }
}

h5 {
  color: $white-normal;

  @include typeface-1(h5, desktop);
  @include responsive(s) {
    @include typeface-1(h5, mobile);
  }
}

h6 {
  color: $white-normal;

  @include typeface-1(h6, desktop);
  @include responsive(s) {
    @include typeface-1(h6, mobile);
  }
}

p {
  color: $white-normal;
  @include typeface-2(p1, desktop);
  @include responsive(s) {
    @include typeface-2(p1, mobile);
  }
  @include responsive(xs) {
    @include typeface-2(p3, smallmobile);
  }
}

.p1 {
  @include typeface-2(p1, desktop);
  @include responsive(s) {
    @include typeface-2(p1, mobile);
  }
  @include responsive(xs) {
    @include typeface-2(p1, smallmobile);
  }
}

.p2 {
  @include typeface-2(p2, desktop);
  @include responsive(s) {
    @include typeface-2(p2, mobile);
  }
}

.p3 {
  @include typeface-2(p3, desktop);
  @include responsive(s) {
    @include typeface-2(p3, mobile);
  }
}

.p4 {
  @include typeface-2(p4, desktop);
  @include responsive(s) {
    @include typeface-2(p4, mobile);
  }
}

.p5 {
  @include typeface-2(p5, desktop);
  @include responsive(s) {
    @include typeface-2(p5, mobile);
  }
}

.p-title {
  font-size: 18px;

  @include responsive(s) {
    font-size: 16px;
  }
}

.bold {
  font-weight: bold;
}

strong {
  color: $black-dark;
  @include typeface-2(p2, desktop);
  @include responsive(s) {
    @include typeface-2(p2, mobile);
  }
}

.text-center {
  text-align: center;
}

span {
  position: relative;
  display: inline-block;
}
