.grid {
  max-width: $container-xl;
  display: grid;
  grid-gap: 12px;
  grid-template-areas: "a b c d e";
  margin-left: 48px;

  @include responsive(s) {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";

    grid-gap: 8px;
    margin-left: 24px;
  }
}

.grid-a {
  grid-area: a;
}

.grid-b {
  grid-area: b;
}
.grid-c {
  grid-area: c;
}

.grid-d {
  grid-area: d;
}

.grid-e {
  grid-area: e;
}
