.grid {
  max-width: $container-xl;
  display: grid;
  grid-gap: 12px;
  grid-template-areas: "a b c d e";
  margin-left: 48px;

  @include responsive(s) {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";

    grid-gap: 8px;
    margin-left: 24px;
  }
}

.grid-a {
  grid-area: a;
}

.grid-b {
  grid-area: b;
}
.grid-c {
  grid-area: c;
}

.grid-d {
  grid-area: d;
}

.grid-e {
  grid-area: e;
}

.grid-mentor {
  max-width: $container-xl;
  display: grid;
  grid-gap: 8px;
  grid-template-areas: "a b c d e f g";
  margin-left: 150px;
  margin-right: 150px;

  @include responsive(s) {
    grid-template-areas:
      "a b c"
      "d e f"
      "g g g";

    grid-gap: 8px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

.grid-mentor-a {
  grid-area: a;
}

.grid-mentor-b {
  grid-area: b;
}
.grid-mentor-c {
  grid-area: c;
}

.grid-mentor-d {
  grid-area: d;
}

.grid-mentor-e {
  grid-area: e;
}

.grid-mentor-f {
  grid-area: f;
}

.grid-mentor-g {
  grid-area: g;
}

.grid-bonus {
  max-width: $container-xl;
  display: grid;
  grid-gap: 12px;
  grid-template-areas:
    "a b c"
    "d e f";
  margin-left: 48px;

  @include responsive(s) {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";

    grid-gap: 8px;
    margin-left: 24px;
  }
}

.grid-bonus-a {
  grid-area: a;
}

.grid-bonus-b {
  grid-area: b;
}
.grid-bonus-c {
  grid-area: c;
}

.grid-bonus-d {
  grid-area: d;
}

.grid-bonus-e {
  grid-area: e;
}

.grid-bonus-f {
  grid-area: f;
}

.photo-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid $primary-light;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-1 {
  background-image: url("../img/thiago-nigro.jpg");
}

.photo-2 {
  background-image: url("../img/joel-jota.png");
}

.photo-3 {
  background-image: url("../img/caito-maia.jpg");
}

.photo-4 {
  background-image: url("../img/camila-farani.jpg");
}

.photo-5 {
  background-image: url("../img/pablo-marcal.jpg");
}

.photo-6 {
  background-image: url("../img/paulo-vieira.jpg");
}

.photo-7 {
  background-image: url("../img/andre-diamand.jpg");
}

.photo-8 {
  background-image: url("../img/joao-kepler.jpg");
}

.divider {
  @include responsive(xl) {
    border-left: 2px solid $primary-light;
    padding: 16px;
  }
  @include responsive(l) {
    border-left: 2px solid $primary-light;
    padding: 16px;
  }
  @include responsive(m) {
    border-left: 2px solid $primary-light;
    padding: 16px;
  }
  @include responsive(s) {
    border-top: 2px solid $primary-light;
  }
}

.divider-h {
  @include responsive(xl) {
    padding: 16px;
  }
  @include responsive(l) {
    padding: 16px;
  }
  @include responsive(m) {
    padding: 12px;
  }
  @include responsive(s) {
    border-top: 2px solid $primary-light;
  }
}

.card-price h1 sup {
  font-size: 16px;
  display: inline-block;
  margin-left: -20px;
  width: 10px;
}

.card-price h1 small {
  color: rgba(0, 0, 0, 0.418);
  display: block;
  font-size: 16px;
  text-transform: uppercase;
}

.small {
  text-transform: uppercase;
  color: $gray-4;
  font-weight: bold;

  @include typeface-1(h5, desktop);

  @include responsive(s) {
    @include typeface-1(h5, mobile);
  }
}
