// Typography of project

@font-face {
  font-family: "Din Condensed ";
  src: url("../fonts/DIN-Condensed\ -\ Regular.otf");
}

@mixin typeface-1($size, $device: desktop) {
  font-family: "Din Condensed ", sans-serif;

  // H1
  @if $size == h1 and $device == desktop {
    font-size: 64px;
    line-height: 100%;
  } @else if $size == h1 and $device == mobile {
    font-size: 48px;
    line-height: 120%;
  }

  // H2
  @else if $size == h2 and $device == desktop {
    font-size: 50px;
    line-height: 110%;
  } @else if $size == h2 and $device == mobile {
    font-size: 36px;
    line-height: 120%;
  }

  // H3
  @else if $size == h3 and $device == desktop {
    font-size: 36px;
    line-height: 120%;
  } @else if $size == h3 and $device == mobile {
    font-size: 24px;
    line-height: 120%;
  }

  // H4
  @else if $size == h4 and $device == desktop {
    font-size: 24px;
    line-height: 130%;
  } @else if $size == h4 and $device == mobile {
    font-size: 18px;
    line-height: 130%;
  }

  // H5
  @else if $size == h5 and $device == desktop {
    font-size: 18px;
    line-height: 140%;
  } @else if $size == h5 and $device == mobile {
    font-size: 16px;
    line-height: 150%;
  }
}

@mixin typeface-2($size: p2, $device: desktop) {
  font-family: "Din Condensed ", sans-serif;

  // P1
  @if $size == p1 and $device == desktop {
    font-size: 24px;
    line-height: 140%;
  } @else if $size == p1 and $device == mobile {
    font-size: 18px;
    line-height: 140%;
  }

  // P2
  @if $size == p2 and $device == desktop {
    font-size: 16px;
    line-height: 140%;
  } @else if $size == p2 and $device == mobile {
    font-size: 14px;
    line-height: 150%;
  }

  // P3
  @if $size == p3 and $device == desktop {
    font-size: 14px;
    line-height: 150%;
  } @else if $size == p3 and $device == mobile {
    font-size: 14px;
    line-height: 150%;
  }
}

h1 {
  color: $white-normal;
  @include typeface-1(h1, desktop);

  @include responsive(s) {
    @include typeface-1(h1, mobile);
  }
}

h2 {
  color: $white-normal;
  @include typeface-1(h2, desktop);

  @include responsive(s) {
    @include typeface-1(h2, mobile);
  }
}

h3 {
  color: $white-normal;
  @include typeface-1(h3, desktop);

  @include responsive(s) {
    @include typeface-1(h3, mobile);
  }
}

h4 {
  color: $white-normal;
  @include typeface-1(h4, desktop);

  @include responsive(s) {
    @include typeface-1(h4, mobile);
  }
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, $secondary-normal 14.43%, $primary-normal 85.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;

  @include typeface-1(h5, desktop);

  @include responsive(s) {
    @include typeface-1(h5, mobile);
  }
}

p {
  color: $white-normal;

  @include typeface-2(p1, desktop);
  @include responsive(s) {
    @include typeface-2(p1, mobile);
  }
}

.bold {
  font-weight: bold;
  color: $black-light;
}

strong {
  color: $black-dark;
  @include typeface-2(p2, desktop);
  @include responsive(s) {
    @include typeface-2(p2, mobile);
  }
}

.text-center {
  text-align: center;
}

.weight-light {
  font-weight: 500;
}

span {
  font-family: "Din Condensed ", sans-serif;
  line-height: 140%;
}
